#allagan > div,
#output {
	font-size: 2.5em;
}
input {
	font-size: inherit;
	color: inherit;
	background-color: inherit;
	border-radius: 5px;
	border: thin groove;
}
.count-stack, .count-extra {
	font-family: monospace;
	width: 3em;
}

body {
	background-color: #131313;
	color: #aaaaaa;
}

#allagan, #output {
	width: fit-content;
	margin: 40px auto;
}
#allagan {
	margin-top: 25vh;
}
#allagan > div[id] {
	display: flex;
}
#allagan > div#banking-container {
	margin-top: 20px;
	font-size: 1.4em;
}
#banking {
	display: none;
}
input[type="checkbox"] + label::before {
	content: "☒ ";
	font-weight: 900;
	color: red;
}
input[type="checkbox"]:checked + label::before {
	content: "☑ ";
	font-weight: 900;
	color: green;
}

.label {
	flex: 1 0 0;
	margin-right: 30px;
}
.content {
	flex: 0 0 content;
}

#output, #allagan {
	visibility: hidden;
}

